# Dépendances
/node_modules

# Build
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
.angular/cache

# Editeurs / IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Système
.DS_Store
Thumbs.db

# Variables sensibles
.env
db.json